<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href={{ url_for( 'static', filename='style.css' ) }} />
    <form method ="POST" ACTION ="/search">
        <input type="text" placeholder="{{postalCode}}" name="postalCode">
        <input type="submit" value="search" name='search for event!'>
    </form>

    <h1>Event list for zipcode {{postalCode}}</h1>
</head>

<body>
    {% if name|length!=0 %}
    {% for i in range(10) %}
        <div class='item'>
            <p><b>{{name[i] }}</b></p>
            <p>{{ date[i] }}</p>
            <p>{{ time[i] }}</p>
            <p>{{ url[i] }}</p>
            <p>{{ id[i] }}</p>
        </div>
        {% endfor %}
        {% endif %}

 
</body>

</html>
